#header-backround {max-width: 100%; height: 3000px; background-image: url(../images/homeBack.jpg);
background-repeat: no-repeat; background-size: cover; background-attachment: fixed;}
.header-topMenu {max-width: 100%;padding-top: 2.5%; margin:0 auto; padding-left: 5%;
    padding-right: 5%; padding-bottom: 2.5%;}
.logo-img {width: 260px; float: left;}
.logo-img img{width: 100%; height: 100%; cursor: pointer;}

.header-rightMenu {color:#fff;}
.header-rightMenu ul li{float: right; margin-left: 40px; box-sizing: border-box;}
.header-rightMenu ul li a:hover span{color:#d56f03; border-bottom:3px solid #d56f03; margin-bottom: 5px;}
.header-rightMenu ul li a{/* font-weight:bold;*/ height: 120px;display: flex; align-items: center; position: relative;}
.header-rightMenu ul li a span {font-size: 18px; color: #fff; letter-spacing: 1px;  transition:all 0.3s;}

/*--------header --------- menu 끝 */
.header-maintitle{ max-width: 100%; height: 500px; margin: 80px 0; position: relative;}

.header-title-MainTxt h1{ position: fixed; top:400px; display:inline-block; margin: 0; color: rgba(255,255,255,0.7); font-size: 110px;line-height: 80px; transform: rotate(-37deg);}

.header-title-BottomTxt{position: fixed; top: 570px; right: 180px;}
.header-title-BottomTxt p{ margin: 0; color: #ffffff; font-size: 30px; text-align: center;}
.header-title-MoreBtn {opacity:0.6; width: 200px;height: 50px; line-height: 50px; text-align:center; border: 1px solid #fff; 
position: fixed; top: 670px; right: 330px; cursor: pointer;}
.header-title-MoreBtn p{font-size:22px; color:#fff;  }
.header-title-MoreBtn:hover{opacity:1}



.main-content {width: 100%; height: 1000px; background-color: #16191e; position: relative;}
.main-contentBox{width: 100%; height: 600px;background-color: #3f454c; position: absolute; top: 400px;}

.main-contentBoxTxt{text-align: center; margin:0 auto; padding: 120px;}
.main-contentBoxTxt h2 {font-size:33px; color:#eee;}
.main-contentBoxTxt h2:after{display: block; content: ""; width: 400px; height: 3px; background-color: #eee; margin: 10px auto;}
.main-contentBox-BottoomTxt {margin-top: 30px;}
.main-contentBoxTxt p {font-size:19x; color:#eee; margin:10px auto; }

