body{margin: 0; font-size:2rem;}

@keyframes loading{
	to{background-position:-800px 0;}
}

@keyframes youtube{
	to{background-position:-900px 0;}
}
@keyframes facebook{
	to{background-position:-900px 0;}
}
@keyframes insta{
	to{background-position:-900px 0;}
}
@keyframes pinter{
	to{background-position:-1000px 0;}
}


.sprite_icon{cursor: pointer; display: flex;}

.loading{overflow: hidden; width: 100px; height: 119px; background: url(../images/loading2.png) no-repeat 0 0; text-indent:200%;
}
.loading:hover{animation:loading .8s infinite steps(8);}

.youtube{overflow: hidden; width: 100px; height: 100px; background: url(../images/youtube_animation.png) no-repeat 0 0; text-indent:200%;
}
.youtube:hover{animation:youtube .8s infinite steps(9);}

.facebook{overflow: hidden; width: 100px; height: 100px; background: url(../images/face2.png) no-repeat 0 0; text-indent:200%;
}
.facebook:hover{animation:facebook .8s infinite steps(9);}

.insta{overflow: hidden; width: 100px; height: 100px; background: url(../images/insta_icon.png) no-repeat 0 0; text-indent:200%;
}
.insta:hover{animation:insta .8s infinite steps(9);}

.pinterest{overflow: hidden; width: 100px; height: 100px; background:url(../images/pinterest_icon.png) no-repeat 0 0; text-indent:200%;}

.pinterest:hover{animation:pinter .8s infinite steps(10);}


/*--------------text animation */
/*ch는 글자 수 의 길이  1ch = 한글자   총 15글자니까 15ch */   /*steps(15) 는 animation 동작을 15스탭으로 나눠서 실행*/ 
h1{width: 15ch; font-size:25px; overflow: hidden;  border-right:0.05rem solid transparent; white-space: nowrap; animation:typing 2s steps(15), caret 1s steps(1) infinite;}
@keyframes typing{
	from{width: 0ch;}
}

@keyframes caret{
	50%{border-color: currentColor;}
}