body{width: 100%; font-family: 'Noto Sans', sans-serif;}
html{font-size:16px; scroll-behavior: smooth;}

#fullpage{width: 100%; height: 100vh;}
section:nth-child(even){width:100%;  height:100vh; background-color: gray;} 
section:nth-child(odd){width:100%;  height:100vh; background-color: #17030e;} 

.section-backgroundBox{width: 94%; height: 100%; background-color:#0d0d29; margin: 0 auto; position: relative; position: fixed; top:0; left: 3%; overflow: hidden;}
.main-content{width:1200px;  max-width: 1150px; height:100vh; margin:0 auto; height: 100vh; background-color: #07061a; position: relative;}
.main-nav{width: 800px; max-width:830px;height: 60px; background-color: skyblue; position: relative; }
.main-nav ul{width: 100%; max-width:830px; height: 100%; display: flex;  text-align: center;}
.main-nav li{width: 100%; max-width:830px; height: 100%;}
.main-nav li a{display: block; line-height: 60px; font-size: 1.6em; font-weight: bold; color:#fff;}


.main-text-img{width: 800px; height: 330px;  padding-top: 60px; position: relative; z-index:100; }
.main-oculusLogo img{width: 130px;}
.main-gogleLogo img:nth-child(1){width: 70px; padding: 5px 1px; margin-bottom: 6px;}
.main-gogleLogo img:nth-child(2){width:50px; padding: 5px 1px;}


.main-rightText p{font-weight: bold; font-size:1.6em; color:rgba(255,255,255,0.7);}
.main-rightText h1{font-weight:bold; font-size:3.6em; color:#fff; line-height: 1em;}
.main-rightText span{display: block; padding-bottom: 20px; line-height: 1em; }

.main-JoinBtn{width: 150px;	height: 45px; position: relative; box-sizing: border-box;  border:2px solid #f653d9; border-radius: 30px;}
.main-JoinBtn a{transition:1s; width: 150px; height: 45px;	color:#f653d9; text-decoration:none; text-align: center; font-size:1.6em; font-weight:bold; letter-spacing: 3px; position:absolute; top: 50%; left: 50%; transform:translate(-50%, -50%); line-height: 45px; border-radius: 30px; overflow: hidden;}
.main-JoinBtn a:before{content:''; position: absolute; top: 0; left: 0;	 width: 50px; height: 50px;	border-radius: 50%; background:rgba(022,20,152,0); filter: blur(4px);transition:1s;z-index:-1; }

.main-JoinBtn a:hover{color:#fff; box-shadow: 0px 0px 50px rgba(68,234,249,1); }
.main-JoinBtn a:hover:before{
	background:rgba(68,234,249,1); filter: blur(4px); transform: scaleX(5);
}

.main-JoinBtn a:after{content:''; position: absolute; top: 0; right: 0; width: 50px; height: 50px;	border-radius: 50%; background:rgba(246,83,217,0); filter: blur(4px);transition:1s;z-index:-1; }
.main-JoinBtn a:hover:after{
	background:rgba(246,83,217,1); filter: blur(4px); transform: scaleX(5);
}


.main-right-rift:hover span{box-shadow: 0px 0px 120px rgba(45,193,255,1);}
.main-right-rift img{width: 640px; position: absolute; bottom: 150px; right: 50px;z-index: 100;}
.main-right-rift span{position:absolute; bottom: 300px; right:270px; width:200px; height:70px; background:#fff; box-shadow: 0px 0px 120px rgba(45,193,255,.3); z-index: 10; transition: 0.5s;}
.main-right-text{text-align: center; position: absolute; bottom: 47px;right: 135px;}
.main-right-text h2{color:#fff;}
.main-right-text p:nth-child(2){color:#a2d2ff; font-size:1.2em; margin-top: 5px;}
.main-right-text p:nth-child(3){color:rgba(255,255,255,0.7); margin-top: 18px;}
.main-right-text span{display: block;}

