	header#main_header{background-color: skyblue;}
	header#main_header>div.main_util{border-bottom: 1px solid #000;}
	
	.util_menu ul{
		width: 1000px; 
		height: 50px; 
		margin:0 auto; 
		position:relative;
	}


	.util_menu ul li{float: right; 
		line-height: 50px; 
		padding:0 20px;
		 background-color: gray;
		 text-align: center;
		}
	
	
    nav.util_menu ul li:after{
		content:"" ;
		 width: 1px; 
		 height: 10px;
 		display:block; 
 		background-color: #000; 
 		position: absolute;}

	

	.main_middle{
		width: 1000px; 
		height: 70px; 
		margin:0 auto;
		 background-color: #eee; 
		 position: relative;
		}
	
	.main_middle h1{
		width: 180px; 
		line-height:70px;
		 margin:0 auto;
		  text-align: center;
		}
	.main_middle div.toggle_menu{ 
		width: 48px;
	 height: 48px;
	  position: absolute;
	   top:11px; 
	   right:11px;
	}

	div.main_bottom{width: 100%	; background-color: #1d5da4;}
    nav.main_gnb{
		width: 1000px; 
		margin:0 auto; 
		background-color: gray;
	}