.wrap{width: 100%; height: 60px; position: relative;}

.gnb{width: 1000px; margin:0 auto; height: 100px; overflow: hidden;}
nav.gnb > ul > li {display: block; float:left; width: 20%; background-color: salmon; text-align:center; height: 60px; line-height:60px; cursor:pointer;}
nav.gnb > ul {position: relative;}

.gnb > ul > li:hover {background-color: red;}
.gnb > ul > li:hover .subMenu{display: block;}
.gnb:hover .menubar{top:60px;}


.subMenu{display: none; position: absolute; width: 100%; background-color: pink; left: 0; z-index:2;}
.menubar{ width: 100%; height: 40px; position: absolute; top:-9999px; left: 0; background-color: pink;  z-index:1;}
.subMenu > li{display: block; cursor:pointer; float: left;  height:40px; line-height: 40px; }
.subMenu > li > a{display: block; padding:0 40px;}
.subMenu > li:hover{background-color: hotpink;}

.mainSlider{position:absolute; top: 60px;}

.slider{width: 100%; height: 500px;}
.slider img{width: 100%;}



.bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border:none;
    background:none;
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: 30px;
    width: 100%;
}

