body {font-family: 'Noto Sans KR', sans-serif;}
.header{width:100%; height: 185px; }
.header-img-background{width: 100%; height: 90px; background-image: url(../images/arplan_back.jpg);
background-repeat: no-repeat; background-position: center; background-color: #0d72a8;}
.header-TopBox{width: 980px; min-width: 980px; height: 90px; margin:0 auto;}
.header-top-logo {width: 170px; height: 70px; }
.header-top-logo img {width: 100%; height: 100%; padding-top: 5px; cursor: pointer; }

.header-Menu-background{width: 100%; height: 65px; background-color: #fff; border-bottom: 5px solid #0e73a7; }
.header-MenuBox{width: 980px; min-width: 980px; height: 65px; margin:0 auto;}
.header-MenuBox ul{display: flex; }
.header-MenuBox ul li{float:left; width: 100%; height: 100%; line-height:65px; text-align: center; font-size:20px; color:#14272e; border-left: 1px solid #eee; box-sizing: border-box;}
.header-MenuBox ul li a{display: block; transition: all 0.2s;}
.topMenuBtn.active{color: #fff; background-color:#0e73a7; }
.header-MenuBox ul li a:hover{color:#fff; background-color:#0e73a7;}
.header-MenuBox ul li:last-child{border-right: 1px solid #eee;}
/*--------------header 틀Box end*/

/*--------------search start*/
.header-top-searchBox{position:relative; width: 300px; background-color: #fff; border-radius: 20px; height: 30px; line-height: 30px;margin-top: 30px; margin-left:100px;}
.header-top-searchinput{position: absolute; top: 5px; left: 95px; font-size:16px; border:none; width: 160px;}
.searchText{padding-left: 20px;line-height:30px;}
.searchImg {width: 15px; position:absolute; top: 0; right: 20px;}
.searchImg img{width: 15px; cursor: pointer;}
.header-top-text{line-height: 90px; font-size:25px; color:#fff; margin-left: 50px; margin-right: 7px; }
.header-top-text span{font-weight:bold;}
/*--------------search end*/



/*--------------sns images start*/
.header-sns-images ul li{float: left;}
.header-sns-images ul li a:hover img{transform: scale(1.1);}
.header-sns-images ul li:last-child a img{width: 30px; padding-top: 30px; padding-left: 5px;}
/*--------------sns images end*/

/*----------------------------------------------------------------header 끝*/

/*--------------content background (Animation) start*/
.content{width: 100%; height: 1230px; margin-top: 68px; position: relative; overflow: hidden;}
.content_background{width: 100%; height: 100%; background-image: url(../images/content_Back.jpg); background-repeat: no-repeat; background-size: cover;}

.contentBox{width: 980px; height: 100%; margin:0 auto; position: relative; }

.content_flrare_png{position:absolute; right: 50px; top: 350px; opacity:0; z-index: 50;
			animation-name:flrare1; 
			animation-duration: 3s;    /*애니메이션 작동 시간*/
			animation-iteration-count:infinite;    /*애니메이션 반복 횟수*/
		}
@keyframes flrare1{
			from{  right: 50px; top: 350px; opacity:0;}
			50%{right: 50px; top: 350px; opacity:0.7;}
			to{ right: 50px; top: 350px; opacity:0;}
		}

.content_balloonHouse_png{position:absolute; left:1650px;
			animation-name:balloonHouse; 
			animation-duration: 95s;    /*애니메이션 작동 시간*/
			animation-iteration-count:infinite;    /*애니메이션 반복 횟수*/
			/*animation-fill-mode:forwards; */
			/*animation-direction:alternate;    /*애니메이션 방향 왔다갔다*/ 
			animation-timing-function:linear;}
@keyframes balloonHouse{
			from{left:1650px; bottom: -200px;}
			to{left:1650px;  bottom: 1000px;  transform: rotate(3deg); }
		}

.content_airplain_png{position:absolute; left: -250px;
			animation-name:airplain; 
			animation-duration: 100s;    /*애니메이션 작동 시간*/
			animation-iteration-count:infinite;    /*애니메이션 반복 횟수*/
			animation-timing-function:linear;}
@keyframes airplain{
			from{top:450px; left: -300px;}
			50%{top:400px; transform: rotate(5deg); left: 1700px;}
			to{top:450px;  left:3000px; }
		}

.content_airplain_png2{position:absolute; left: -250px;
			animation-name:airplain2; 
			animation-duration: 100s;    /*애니메이션 작동 시간*/
			animation-iteration-count:infinite;    /*애니메이션 반복 횟수*/
			animation-timing-function:linear;
			animation-delay: 30s;}
@keyframes airplain2{
			from{top:800px; left: -200px;}
			50%{top:750px; transform: rotate(7deg); left: 1600px;}
			to{top:800px;  left:3000px; }
		}

.content_reallyAir_png{position:absolute; left: -800px; bottom: -500px; transform: scale(0.1);
			animation-name:realAirplain; 
			animation-duration: 3.5s;    /*애니메이션 작동 시간*/
			animation-iteration-count:1;    /*애니메이션 반복 횟수*/ 
			animation-timing-function:linear;
			animation-delay:5s;}
@keyframes realAirplain{
			from{bottom: -500px; left: -800px;}
			to{bottom: 1500px;  left: 1600px; transform: rotate(-40deg);transform: scale(3)}
		}

.content_reallyAir2_png{position:absolute; left: -200px; bottom: 350px; transform: scale(0.2);
			animation-name:realAirplain2; 
			animation-duration: 50s;    /*애니메이션 작동 시간*/
			animation-iteration-count:infinite;    /*애니메이션 반복 횟수*/
			/*animation-fill-mode:forwards; */
			/*animation-direction:alternate;    /*애니메이션 방향 왔다갔다*/ 
			/*animation-timing-function:linear;*/
			animation-delay:25s;}
@keyframes realAirplain2{
			from{bottom: 350px; left: -200px;}
			to{bottom: 500px;  left:9999px; transform: rotate(2deg);transform: scale(2.5)}
		}

.content_reallyAir3_png{position:absolute; right: -200px; bottom: 750px; transform: scale(0.1);
			animation-name:realAirplain3; 
			animation-duration: 50s;    /*애니메이션 작동 시간*/
			animation-iteration-count:infinite;    /*애니메이션 반복 횟수*/
			animation-delay:10s;}
@keyframes realAirplain3{
			from{bottom: 750px; right: -200px;}
			to{bottom: 900px;  right:9999px; transform: rotate(-2deg);transform: scale(3)}
		}

.content_background_png1{position:absolute; right: 25%; 
			animation-name:balloon; 
			animation-duration: 4s;    /*애니메이션 작동 시간*/
			animation-iteration-count:infinite;    /*애니메이션 반복 횟수*/
			animation-direction:alternate;    /*애니메이션 방향 왔다갔다*/  
			animation-timing-function:cubic-bezier(0.56, 0.22, 0.63, 1.11);}
@keyframes balloon{
			from{top: 240px; }
			50%{top:230px; transform: rotate(2deg);}
			to{top: 240px;}
		}
.content_background_png2{position:absolute; right: -3%; 
			animation-name:balloon2; 
			animation-duration: 2.5s;    /*애니메이션 작동 시간*/
			animation-iteration-count:infinite;    /*애니메이션 반복 횟수*/
			animation-direction:alternate;    /*애니메이션 방향 왔다갔다*/  
			animation-timing-function:cubic-bezier(0.46, -0.01, 0.5, 1.04);}
@keyframes balloon2{
			from{top:210px;}
			50%{top:235px; transform: rotate(-4deg);}
			to{top: 230px;}
		}

.content_background_png3{position:absolute; right: -10%; 
			animation-name:balloon3;
			animation-duration: 5s;    /*애니메이션 작동 시간*/
			animation-iteration-count:infinite;    /*애니메이션 반복 횟수*/
			animation-direction:alternate;    /*애니메이션 방향 왔다갔다*/  
			animation-timing-function:cubic-bezier(0.38, 0.06, 0.57, 1.16);
}
@keyframes balloon3{
			from{top:30px;}
			50%{top:40px; transform:rotate(1deg);}
			to{top: 55px; transform:rotate(-3deg);}
		}
.content_background_png4{position:absolute; left: -30%; 
			animation-name:balloon4;
			animation-duration: 5s;    /*애니메이션 작동 시간*/
			animation-iteration-count:infinite;    /*애니메이션 반복 횟수*/
			animation-direction:alternate;    /*애니메이션 방향 왔다갔다*/  
			animation-timing-function:cubic-bezier(0.3, -0.06, 0.71, 1.15);}
@keyframes balloon4{
			from{top:860px; }
			50%{top:870px; transform: rotate(2deg);}
			to{top: 875px;}
		}
.content_background_png5{position:absolute; left: -35%; 
			animation-name:balloon5;
			animation-duration: 10s;    /*애니메이션 작동 시간*/
			animation-iteration-count:infinite;    /*애니메이션 반복 횟수*/
			animation-direction:alternate;    /*애니메이션 방향 왔다갔다*/  
			animation-timing-function:cubic-bezier(0.49, 0.14, 0.52, 1.23);}
@keyframes balloon5{
			from{top:-110px; }
			50%{top:-180px; transform: rotate(35deg);}
			to{top: -100px;}
		}

.content_background_png6{position:absolute; left: -50%; 
			animation-name:balloon6;
			animation-duration: 10s;    /*애니메이션 작동 시간*/
			animation-iteration-count:infinite;    /*애니메이션 반복 횟수*/
			animation-direction:alternate;    /*애니메이션 방향 왔다갔다*/  
			animation-timing-function:cubic-bezier(0.54, -0.04, 0.63, 1.21);}
@keyframes balloon6{
			from{top:650px; }
			30%{top:610px; left: -45%;  transform: rotate(15deg);}
			60%{top:590px; left: -40%;  transform: rotate(10deg);}
			to{top: 630px; left: -42%;transform: rotate(0deg);}
		}

.content_background_topText{position: absolute; top: 60px; letter-spacing: 1px; 
	animation-name:topTextAni; 
			animation-duration: 1s;    /*애니메이션 작동 시간*/  
			animation-fill-mode: forwards;
			animation-iteration-count:1; 
			animation-timing-function:linear;}
@keyframes topTextAni{
			from{right:500px; }
			to{right: 250px;  top:60px; color:#0c41b8; }
		}

.content_background_topText2 {position: absolute; top: 60px;
	animation-name:topSpanTextAni; 
			animation-duration: 2s;    /*애니메이션 작동 시간*/  
			animation-fill-mode: forwards;
			animation-iteration-count:1;}
@keyframes topSpanTextAni{			
			from{right:500px;}
			30%{right: 150px; }
			50%{color:#ffb136;}
			80%{right: 150px; top:30px;}
			to{right: 150px; top:60px; color:#0c41b8;}
		}		

.content_background_topText h1{font-size:60px;  /*color: #ffa508;*/}
.content_background_topText2 h1{font-size:60px;  /*color: #ffa508;*/}
.content_background_topText2:after{content: ""; display: block; background-color: #082c7f; width: 80px; height: 5px; position: absolute; top:80px; right:3px;}

.content_background_bottomText{position: absolute; top: 130px;  right: 178px;
animation-name:bottomTextAni; 
			animation-duration: 1s;     
			animation-fill-mode: forwards;
			animation-iteration-count:1; 
			animation-timing-function:linear;}
@keyframes bottomTextAni{
			from{top: 170px; opacity: 0}
			to{ top: 150px; opacity: 1}
		}

.content_background_bottomText p{font-size:25px; color:#172934; font-weight: bold;}
/*--------------content background (Animation) end*/

/*----------------------------------------------------------------background 끝*/

/*--------------airplan Search box start*/
.content-planSearchBox{width: 135px; height: 300px; position:absolute; top: 55px; left: 0;}
.sliderWrap{width: 345px; height: 300px; background-color:#fff; position:absolute; top: 55px;left: 135px;}

.planSearchBox-Btn ul{display: flex; flex-direction: column;}
.SearchBtn {position:relative; text-indent:30px; width: 135px; height: 75px; background-color: #0099cb; cursor: pointer; line-height: 75px; text-align: center; color: #fff; font-weight:bold;}
.SearchBtn img{width: 30px; position: absolute; left: 15px; top: 20px;}

.SearchBtn.active .exonImg {display:inline-block;}
.SearchBtn.active .exImg {display:none;} 
.SearchBtn .exonImg {display:none;}
.SearchBtn .exImg {display:inline-block;}

.SearchBtn.active {color:#000; background-color: #fFF;}
.planSearchBox-Btn ul li:hover{background-color: #fff; color: #000;}
.planSearchBox-Btn ul li:hover .exonImg{display: block;}


fieldset{border:0 none; padding-left: 10px;}
fieldset li{margin-bottom: 5px;}
	legend{display: block; position: absolute; left: 0; top:-9999px;}
	.f_layer{width: 350px; margin:0 auto;}
	.f_layer fieldset label{display: block; padding:5px 0;}
	.f_layer fieldset #golo{display: block; width: 322px; height: 35px; font-size:1em; text-indent: 8px; border-radius: 5px;}
	#cgrade{display: block; width: 155px; height: 35px; font-size:1em; text-indent: 8px; border-radius: 5px;}

	.sleft,
	.sright{float:left; width: 155px}
	.sleft{margin-right: 10px;}
	.sright{ }

	.sleft input,
	.sright input{width: 155px; border-radius: 5px; border :1px solid #aaa; height: 35px; text-indent:8px; font-size:1.2em;}

	.slider3 .searchBtn{position:relative; cursor:pointer; margin: 15px 10px; width: 322px; height: 35px; line-height:35px;font-size:1em; text-indent: 8px; border-radius: 5px; background-color:#ea4f1f; text-align: center; color: #fff;}
	.searchBtn img{width: 15px; height: 15px; position:absolute; top: 11px; left:115px; }
/*--------------airplan Search box end*/



/*--------------article box 틀(box) start*/
.content_articleBox{width: 980px; height: 750px;  position: absolute; top: 370px; left: 0;}

.content_articleBox > ul >li{float:left; width: 235px; height: 238px; margin-right: 13.33px; margin-bottom: 18px;}
.content_articleBox2 > ul > li{float:left; width: 235px; height: 238px; margin-right: 13.33px; margin-bottom: 18px;}
.content_articleBox3 > ul > li{float:left; width: 235px; height: 238px; margin-right: 13.33px; margin-bottom: 18px;}

.content_articleBox2 > ul > li:last-child{margin-right: 0;}
.content_articleBox3 > ul > li:last-child{margin-right: 0;}

.content_sliderWrap{width: 100%; height: 100px; position: relative;}
.content_sliderWrap2{width: 100%; height: 100px; position: relative;}
/*--------------article box 틀(box) end*/


/*--------------------------------------------article card (8ea) start */

.content_articleBox img{width: 100%;height: 238px; transition:all 0.4s;}
.content_articleBox-card1{width: 100%; height: 238px; position: relative; overflow:hidden;}
.content_articleBox-card1 img:hover {transform:scale(1.1);}

.content_articleBox-textBox1{cursor:pointer; width: 100%; height: 60px; background-color:rgba(21,38,48,0.8); position: absolute; bottom: 0; }
.content_articleBox-textBox1:hover {font-weight:bold; background-color:rgba(21,38,48,0.9)}
.content_articleBox-textBox1:hover img{transform:scale(1.1);}
.content_textBox1-rightText{position: absolute; bottom: 20px; left: 20px; color:#eee;}
.content_textBox1-priceText{position: absolute; bottom: 20px; left: 85px; color:#6fc562;}
.content_textBox1-moreBtn{width: 15px; height: 20px; position:absolute; bottom: 20px; right: 20px;}
.content_textBox1-moreBtn img{width: 100%; height: 100%; }
/*------------card 1 end */

.content_articleBox-card2{width: 100%; height: 238px; position: relative; overflow:hidden;}
.content_articleBox-card2 img:hover {transform:scale(1.1);}

.content_articleBox-textBox2{cursor:pointer; width: 100%; height: 60px; background-color:rgba(21,38,48,0.8); position: absolute; bottom: 0; }
.content_articleBox-textBox2:hover {font-weight:bold; background-color:rgba(21,38,48,0.9)}
.content_articleBox-textBox2:hover img{transform:scale(1.1);}
.content_textBox2-rightText{position: absolute; bottom: 20px; left: 20px; color:#eee;}
.content_textBox2-priceText{position: absolute; bottom: 20px; left: 97px; color:#6fc562;}
.content_textBox2-moreBtn{width: 15px; height: 20px; position:absolute; bottom: 20px; right: 20px;}
.content_textBox2-moreBtn img{width: 100%; height: 100%; }
/*--------------card end 2 */

.content_articleBox-card3{width: 100%; height: 238px; position: relative; overflow:hidden;}
.content_articleBox-card3 img:hover {transform:scale(1.1);}

.content_articleBox-textBox3{cursor:pointer; width: 100%; height: 70px; background-color:rgba(82,147,81,0.8); position: absolute; bottom: 0; }
.content_articleBox-textBox3:hover {font-weight:bold; background-color:rgba(82,147,81,0.9)}
.content_articleBox-textBox3:hover img{transform:scale(1.02);}
.content_textBox3-topText{position: absolute; top: 10px; left: 20px; color:#fff;}
.content_textBox3-starimg{width: 100px; height: 15px; position:absolute; bottom: 15px; left: 20px;}
.content_textBox3-starimg img{width: 100%; height: 100%; }

.nextBtn{width: 30px; height: 50px; position: absolute; top: 55px; right: 0; cursor: pointer;}
.nextBtn img{width: 100%; height: 100%;}
.prevBtn{width: 30px; height: 50px; position: absolute; top: 55px; left: 0; cursor: pointer;}
.prevBtn img{width: 100%; height: 100%;}
/*----------------card end 3 */

.content_articleBox-card4{width: 100%; height: 238px; position: relative; overflow:hidden;}
.content_articleBox-card4 img:hover {transform:scale(1.1);}

.content_articleBox-textBox4{cursor:pointer; width: 100%; height: 70px; background-color:rgba(21,38,48,0.8); position: absolute; bottom: 0; }
.content_articleBox-textBox4:hover {font-weight:bold; background-color:rgba(21,38,48,0.9)}
.content_articleBox-textBox4:hover img{transform:scale(1.02);}
.content_textBox4-topText{position: absolute; top: 10px; left: 20px; color:#fff;}
.content_textBox4-starimg{width: 100px; height: 15px; position:absolute; bottom: 15px; left: 20px;}
.content_textBox4-starimg img{width: 100%; height: 100%; }

.nextBtn2{width: 30px; height: 50px; position: absolute; top: 55px; right: 0; cursor: pointer;}
.nextBtn2 img{width: 100%; height: 100%;}
.prevBtn2{width: 30px; height: 50px; position: absolute; top: 55px; left: 0; cursor: pointer;}
.prevBtn2 img{width: 100%; height: 100%;}
/*----------------card end 4 */

.content_articleBox-card5{width: 100%; height: 238px; position: relative; overflow:hidden;}
.content_articleBox-card5:hover img{transform:scale(1.1);}

.content_articleBox-textBox5{cursor:pointer; width: 100%; height: 70px; background-color:rgba(0,0,0,0.5); position: absolute; bottom: 0; }
.content_articleBox-textBox5:hover {font-weight:bold; background-color:rgba(0,0,0,0.7)}
.content_textBox5-topText{position: absolute; top: 10px; left: 20px; color:#eee;}
.content_textBox5-bottomText{position: absolute; bottom: 12px; left: 20px; color:#eee;}

.tokyoText{position: absolute;top: 10px; left: 50%; transform: translate(-50%, 0); font-weight:bold; color:#eee; letter-spacing:1px;}
.content_textBox5-topText span{font-size:18px;}
.content_textBox5-bottomText p{font-size:14px;}
/*-----------------card end 5 */

.content_articleBox-card6{width: 100%; height: 238px; position: relative; overflow:hidden;}
.content_articleBox-card6 img:hover {transform:scale(1.07);}
.content_articleBox-textBox6{cursor:pointer; width: 100%; height: 70px; background-color:#44619d; position: absolute; bottom: 0; }
.content_articleBox-textBox6:hover {font-weight:bold; background-color:#44619d;}

.content_textBox6-topText{position: absolute; top: 10px; left: 20px; color:#eee;}
.content_textBox6-bottomText{position: absolute; bottom: 12px; left: 20px; color:#eee;}

.content_articleBox-card6 img{height: 210px;}
.content_textBox6-bottomText p{color: rgba(238,238,238,0.8);}
/*-----------------card end 6 */

.content_articleBox-card7{width: 100%; height: 238px; position: relative; overflow:hidden;}
.content_articleBox-card7:hover >img{transform:scale(1.07);}
.content_articleBox-card7:hover .card7-hoverBox {display: block;}
.content_articleBox-card7:hover .card7-hoverText { top: 20px;}
.card7-hoverBox img:hover{transform: rotate(180deg);}

.card7-hoverBox{width: 100%; height: 238px; background-color: rgba(24,123,160,0.4); position: absolute; top: 0; display: none; }
.card7-hoverBox img{width: 40px; height: 40px; position: absolute; top: 100px; left: 100px;  transition:0.6s; cursor: pointer;}

.card7-hoverText{position: absolute; top: -70px; left: 33px; text-align:center; color:#fff; transition:0.5s;}
.card7-hoverText img{width: 30px; height: 30px; position: absolute; top:-3px; left: 15px;}
.card7-hoverText p{font-size: 14px; margin-bottom: -3px;}
/*-----------------card end 7 */

.content_articleBox-card8{width: 100%; height: 238px; position: relative; overflow:hidden;}
.content_articleBox-card8:hover >img{transform:scale(1.07);}
.content_articleBox-card8:hover .card8-hoverBox {display: block;}
.content_articleBox-card8:hover .card8-hoverText { bottom: 25px;}
.card8-hoverBox img:hover{transform: rotate(180deg);}

.card8-hoverBox{width: 100%; height: 238px; background-color: rgba(78,41,10,0.5); position: absolute; top: 0; display: none; }
.card8-hoverBox img{width: 40px; height: 40px; position: absolute; top: 100px; left: 100px;  transition:0.6s; cursor: pointer;}

.card8-hoverText{position: absolute; bottom:-70px; left: 33px; text-align:center; color:#fff; transition:0.5s;}
.card8-hoverText img{width: 30px; height: 30px; position: absolute; top:-3px; left: 15px;}
.card8-hoverText p{font-size: 14px; margin-bottom: -3px;}
/*-----------------card end 8 */

.content_articleBox-card9{width: 100%; height: 238px; position: relative; overflow:hidden;}
.content_articleBox-card9:hover >img{transform:scale(1.07);}
.content_articleBox-card9:hover .card9hoverBox {display: block;}
.content_articleBox-card9:hover .card9hoverText { bottom: 25px;}
.card9hoverBox img:hover{transform: rotate(180deg);}

.card9hoverBox{width: 100%; height: 238px; background-color: rgba(18,20,102,0.5); position: absolute; top: 0; display: none; }
.card9hoverBox img{width: 40px; height: 40px; position: absolute; top: 100px; left: 100px;  transition:0.6s; cursor: pointer;}

.card9hoverText{position: absolute; bottom:-70px; left: 33px; text-align:center; color:#fff; transition:0.5s;}
.card9hoverText img{width: 30px; height: 30px; position: absolute; top:-3px; left: 15px;}
.card9hoverText p{font-size: 14px; margin-bottom: -3px;}
/*-----------------card end 9 */

.content_articleBox-card10{width: 100%; height: 238px; position: relative; overflow:hidden;}
.content_articleBox-card10:hover >img{transform:scale(1.07);}
.content_articleBox-card10:hover .card10hoverBox {display: block;}
.content_articleBox-card10:hover .card10hoverText { top: 20px;}
.card10hoverBox img:hover{transform: rotate(180deg);}

.card10hoverBox{width: 100%; height: 238px; background-color: rgba(32,117,10,0.5); position: absolute; top: 0; display: none; }
.card10hoverBox img{width: 40px; height: 40px; position: absolute; top: 100px; left: 100px;  transition:0.6s; cursor: pointer;}

.card10hoverText{position: absolute; top:-70px; left: 33px; text-align:center; color:#fff; transition:0.5s;}
.card10hoverText img{width: 30px; height: 30px; position: absolute; top:-3px; left: 15px;}
.card10hoverText p{font-size: 14px; margin-bottom: -3px;}
/*-----------------card end 10 */

/*-----------------------------------------article card 10ea end */

/*-----------------------------footer start */
.footer-topText{position: absolute; bottom: 70px;}
.footer-topText ul li{margin-right: 30px;}
.footer-topText ul li:hover{font-weight: bold; cursor: pointer;}
.footer-bottomText{position: absolute; bottom: 20px; font-size:13px; color:#333333;}
.footer-topText ul li{float:left;}
/*-----------------------------footer end */



/*-----------------------slider box 시작 */
.bx-wrapper {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border:none;
	background: none;}
