body {font-family: 'Noto Sans KR', sans-serif;}
.header{width:100%; height: 185px; }
.header-img-background{width: 100%; height: 90px; background-image: url(../images/arplan_back.jpg);
background-repeat: no-repeat; background-position: center; background-color: #0d72a8;}
.header-TopBox{width: 980px; height: 90px; margin:0 auto;}
.header-top-logo {width: 170px; height: 70px; }
.header-top-logo img {width: 100%; height: 100%; padding-top: 5px; cursor: pointer; }

.header-Menu-background{width: 100%; height: 65px; background-color: #fff; border-bottom: 5px solid #0e73a7; }
.header-MenuBox{width: 980px; height: 65px; margin:0 auto;}
.header-MenuBox ul{display: flex; }
.topMenuBtn.active{color: #fff; background-color:#0e73a7; }
.header-MenuBox ul li{float:left; width: 100%; height: 100%; line-height:65px; text-align: center; font-size:20px; color:#14272e; border-left: 1px solid #eee; box-sizing: border-box;}
.header-MenuBox ul li a{display: block; transition: all 0.2s;}
.header-MenuBox ul li a:hover{color:#fff; background-color:#0e73a7;}
.header-MenuBox ul li:last-child{border-right: 1px solid #eee;}
/*--------------header 틀Box end*/

/*--------------search start*/
.header-top-searchBox{position:relative; width: 300px; background-color: #fff; border-radius: 20px; height: 30px; line-height: 30px;margin-top: 30px; margin-left:100px;}
.header-top-searchinput{position: absolute; top: 5px; left: 95px; font-size:16px; border:none; width: 160px;}
.searchText{padding-left: 20px;line-height:30px;}
.searchImg {width: 15px; position:absolute; top: 0; right: 20px;}
.searchImg img{width: 15px; cursor: pointer;}
.header-top-text{line-height: 90px; font-size:25px; color:#fff; margin-left: 50px; margin-right: 7px; }
.header-top-text span{font-weight:bold;}
/*--------------search end*/

/*--------------sns images start*/
.header-sns-images ul li{float: left;}
.header-sns-images ul li a:hover img{transform: scale(1.1);}
.header-sns-images ul li:last-child a img{width: 30px; padding-top: 30px; padding-left: 5px;}
/*--------------sns images end*/

/*----------------------------------------------------------------header 끝*/


.sub_background{width: 100%; min-width: 1200px; height: 200px; background-image: url(../images/aircraft_subBack.jpg); background-size: cover; background-position: 0 -70px; background-repeat:no-repeat; margin-top: 69px;}
.top_company{width: 980px; height: 300px; margin:0 auto; position: relative;}
.sub_companyTopLogo{width: 450px; height: 100px; position: absolute; top: 10px; left: 270px;}
.sub_companyTopLogo img{width: 100%;height: 100%;}
.sub_companyTopText {font-size:40px; color:#fff; letter-spacing: 2px; position: absolute; top: 15px; left: 270px; }
.sub_companyBottomText {font-size:20px; color:#fff; position: absolute; top: 110px;	left: 345px;}

.sub_Pattern{width: 100%; height: 100%; background-image: url(../images/sub_Pattern.jpg); }
.sub_content{width: 980px; height: 1000px; margin:0 auto; position: relative;}
.sub_secsion{position: absolute; top: -50px;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
.sub_secsion img{width: 100%; height: 100%;}





/*-----------------------------footer start */
.footer-topText{position: absolute; bottom: 70px;}
.footer-topText ul li{margin-right: 30px;}
.footer-topText ul li:hover{font-weight: bold; cursor: pointer;}
.footer-bottomText{position: absolute; bottom: 20px; font-size:13px; color:#333333;}
.footer-topText ul li{float:left;}
/*-----------------------------footer end */



/*-----------------------slider box 시작 */
.bx-wrapper {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border:none;
	background: none;}
